<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 定闹钟/倒计时交给系统时钟应用（普通权限，装上即有，不弹框） -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <!-- 日历只读。
         写日历走 intent（打开系统日历的新建页，用户自己点保存），
         所以不需要 WRITE_CALENDAR。

         曾经短暂声明过 WRITE，因为 device_calendar 插件的权限判断是
         `WRITE && READ`，不给写就不让读。后来换成自己查 ContentProvider
         （见 CalendarChannel.kt），才把这个多余的授权去掉。 -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 主动推送的通知。Android 13 起是运行时权限，装上不等于有，
         得在 App 里显式要一次（见 NudgeService.ensurePermission）。
         13 以下声明了就有，不弹框。 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:label="phone_ai_assistant"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- 禁用 Impeller 渲染器，回退 Skia：修复 OPPO/vivo 等设备上的文字渲染损坏 bug -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Android 11+ 需要显式声明才能发现系统语音识别服务 -->
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
        <!-- Android 11+ 需要显式声明才能发现系统 TTS 引擎 -->
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>
</manifest>
